/*------------------------------------------------------------------
	29. Paged
-------------------------------------------------------------------*/

body.paged {
    .cover-blog {
        height: 65vh;
    }

    .cover-shadow {
        opacity: 0.7;
    }

    .cover-blog .cover-blog-posts {
        display: none;
    }

    .cover-blog-description {
        bottom: 0;

        img {
            margin-bottom: 0;
        }
    }

    .cover-load-indicator {
        display: none;
    }

    @media (max-height: 760px) {
        .cover-blog {
            height: 80vh;
        }
    }
}
