/*------------------------------------------------------------------
	15. Page Overlay
-------------------------------------------------------------------*/

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(#050505, 0.9);
    color: #fff;
    text-align: center;
    opacity: 0;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include transition-default;
    @include transition(all 0.4s ease-out);

    &.page-overlay-open {
        visibility: visible;
        opacity: 1;
    }
}

.page-overlay-content {
    position: relative;
    max-width: 960px;
    width: 90%;
}

.page-overlay-close {
    position: absolute;
    top: -70px;
    right: -70px;
    z-index: 3000;
    width: 37px;
    height: 37px;
    border-radius: 37px;
    background: #555556;
    color: #c3c7ce;
    text-align: center;
    line-height: 37px;
    cursor: pointer;
    @include transition-default;

    i {
        font-size: 14px;
    }

    &:hover {
        background: #d6d6d6;
        color: #343638;
    }

    @media (max-width: 1920px) {
        top: -10%;
        right: 0;
    }
}

.page-overlay-search {
    form.searchform {
        position: relative;

        .query {
            padding: 0 120px 0 0;
			height: 120px;
			line-height: 60px;
            border: 0;
            border-bottom: 3px solid #575a60;
            border-radius: 0;
            background: transparent;
            color: #fff;
            text-transform: uppercase;
            font-size: 33px;

            &::-webkit-input-placeholder {
                color: #fff;
            }

            &:-moz-placeholder {
                color: #fff;
            }

            &::-moz-placeholder {
                color: #fff;
            }

            &:-ms-input-placeholder {
                color: #fff;
            }
        }

        .search-submit {
            position: absolute;
            top: 0;
            right: 0;
            padding: 45px;
            color: #969ca9;
            font-size: 26px;
            cursor: pointer;
            @include transition-default;

            &:hover {
                color: #fff;
            }
        }
    }
}

.overlay-media-embed {
    margin: 0 auto;
    max-width: 920px;
    background: #000;
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.92);

    @media (max-width: 1920px) {
        max-width: 820px;
    }

    @media (max-width: 1120px) {
        max-width: 680px;
    }
}

.overlay-post-info {
    margin: 0 auto;
    max-width: 660px;
    width: 95%;

    .post-title {
        margin: 5% 0 2.5%;
        font-size: 32px;
        line-height: 50px;

        a {
            color: #fff;
        }
    }

    .post-excerpt {
        color: #757a83;
        font-size: 16px;
        line-height: 34px;
    }

    .post-read-more {
        display: inline-block;
        margin-top: 2%;
        color: #6b7282;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        font-family: $font_header;
        @include transition-default;

        i {
            margin-left: 12px;
            font-size: 11px;
            @include transition-default;
        }

        &:hover {
            color: #fff;

            i {
                color: #fff;
            }
        }
    }

    @media (max-width: 1120px) {
        .post-title {
            font-size: 28px;
            line-height: 46px;
        }

        .post-excerpt {
            font-size: 15px;
            line-height: 32px;
        }
    }
}
