@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-Black.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G XBlack';
	src: url('fonts/NeueHaasUnicaW1G-XBlackIt.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-XBlackIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-BoldItalic.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-Italic.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-UltLightIt.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-UltLightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-MediumIt.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-MediumIt.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-Thin.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-Light.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-Heavy.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-Bold.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-HeavyIt.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-HeavyIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-LightIt.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-BlackIt.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-BlackIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-ThinItalic.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-Medium.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-Regular.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('fonts/NeueHaasUnicaW1G-UltraLight.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Neue Haas Unica W1G XBlack';
	src: url('fonts/NeueHaasUnicaW1G-XBlack.woff2') format('woff2'), url('fonts/NeueHaasUnicaW1G-XBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk';
	src: url('fonts/Druk-BoldItalic.woff2') format('woff2'), url('fonts/Druk-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Condensed';
	src: url('fonts/DrukCondensed-BlkUCnSuper.woff2') format('woff2'), url('fonts/DrukCondensed-BlkUCnSuper.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Condensed';
	src: url('fonts/DrukCondensed-BlackUltCondIta.woff2') format('woff2'), url('fonts/DrukCondensed-BlackUltCondIta.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler';
	src: url('fonts/Butler-Black.woff2') format('woff2'), url('fonts/Butler-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler';
	src: url('fonts/Butler-Light.woff2') format('woff2'), url('fonts/Butler-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler';
	src: url('fonts/Butler-ExtraBold.woff2') format('woff2'), url('fonts/Butler-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk';
	src: url('fonts/Druk-HeavyItalic.woff2') format('woff2'), url('fonts/Druk-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('fonts/ButlerStencil-ExtraBold.woff2') format('woff2'), url('fonts/ButlerStencil-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('fonts/ButlerStencil-Medium.woff2') format('woff2'), url('fonts/ButlerStencil-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('fonts/DrukWide-Super.woff2') format('woff2'), url('fonts/DrukWide-Super.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('fonts/ButlerStencil-UltraLight.woff2') format('woff2'), url('fonts/ButlerStencil-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk';
	src: url('fonts/Druk-Heavy.woff2') format('woff2'), url('fonts/Druk-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('fonts/DrukWide-MediumItalic.woff2') format('woff2'), url('fonts/DrukWide-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Condensed';
	src: url('fonts/DrukCondensed-SuperItalic.woff2') format('woff2'), url('fonts/DrukCondensed-SuperItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('fonts/DrukWide-Medium.woff2') format('woff2'), url('fonts/DrukWide-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('fonts/DrukWide-Bold.woff2') format('woff2'), url('fonts/DrukWide-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk';
	src: url('fonts/Druk-MediumItalic.woff2') format('woff2'), url('fonts/Druk-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk';
	src: url('fonts/Druk-SuperItalic.woff2') format('woff2'), url('fonts/Druk-SuperItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('fonts/DrukWide-Heavy.woff2') format('woff2'), url('fonts/DrukWide-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Condensed';
	src: url('fonts/DrukCondensed-BlkCnItSuper.woff2') format('woff2'), url('fonts/DrukCondensed-BlkCnItSuper.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk';
	src: url('fonts/Druk-Super.woff2') format('woff2'), url('fonts/Druk-Super.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk';
	src: url('fonts/Druk-Medium.woff2') format('woff2'), url('fonts/Druk-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('fonts/ButlerStencil-Light.woff2') format('woff2'), url('fonts/ButlerStencil-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('fonts/DrukWide-HeavyItalic.woff2') format('woff2'), url('fonts/DrukWide-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('fonts/ButlerStencil-Black.woff2') format('woff2'), url('fonts/ButlerStencil-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler';
	src: url('fonts/Butler-Medium.woff2') format('woff2'), url('fonts/Butler-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Condensed';
	src: url('fonts/DrukCondensed-BlackCondSuper.woff2') format('woff2'), url('fonts/DrukCondensed-BlackCondSuper.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('fonts/DrukWide-SuperItalic.woff2') format('woff2'), url('fonts/DrukWide-SuperItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler';
	src: url('fonts/Butler.woff2') format('woff2'), url('fonts/Butler.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Wide';
	src: url('fonts/DrukWide-BoldItalic.woff2') format('woff2'), url('fonts/DrukWide-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler';
	src: url('fonts/Butler-UltraLight.woff2') format('woff2'), url('fonts/Butler-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk Condensed';
	src: url('fonts/DrukCondensed-Super.woff2') format('woff2'), url('fonts/DrukCondensed-Super.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('fonts/ButlerStencil.woff2') format('woff2'), url('fonts/ButlerStencil.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler';
	src: url('fonts/Butler-Bold.woff2') format('woff2'), url('fonts/Butler-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Druk';
	src: url('fonts/Druk-Bold.woff2') format('woff2'), url('fonts/Druk-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('fonts/ButlerStencil-Bold.woff2') format('woff2'), url('fonts/ButlerStencil-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'PT Serif';
	src: url('fonts/PTSerif-BoldItalic.woff2') format('woff2'), url('fonts/PTSerif-BoldItalic.woff') format('woff'), url('fonts/PTSerif-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'PT Serif';
	src: url('fonts/PTSerif-Bold.woff2') format('woff2'), url('fonts/PTSerif-Bold.woff') format('woff'), url('fonts/PTSerif-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'PT Serif';
	src: url('fonts/PTSerif-Regular.woff2') format('woff2'), url('fonts/PTSerif-Regular.woff') format('woff'), url('fonts/PTSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('fonts/SourceCodePro-Black.woff2') format('woff2'), url('fonts/SourceCodePro-Black.woff') format('woff'), url('fonts/SourceCodePro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'PT Serif';
	src: url('fonts/PTSerif-Italic.woff2') format('woff2'), url('fonts/PTSerif-Italic.woff') format('woff'), url('fonts/PTSerif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('fonts/SourceCodePro-Light.woff2') format('woff2'), url('fonts/SourceCodePro-Light.woff') format('woff'), url('fonts/SourceCodePro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('fonts/SourceCodePro-ExtraLight.woff2') format('woff2'), url('fonts/SourceCodePro-ExtraLight.woff') format('woff'), url('fonts/SourceCodePro-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('fonts/SourceCodePro-Medium.woff2') format('woff2'), url('fonts/SourceCodePro-Medium.woff') format('woff'), url('fonts/SourceCodePro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('fonts/SourceCodePro-Regular.woff2') format('woff2'), url('fonts/SourceCodePro-Regular.woff') format('woff'), url('fonts/SourceCodePro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('fonts/SourceCodePro-Semibold.woff2') format('woff2'), url('fonts/SourceCodePro-Semibold.woff') format('woff'), url('fonts/SourceCodePro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	textRendering: optimizeLegibility;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('fonts/SourceCodePro-Bold.woff2') format('woff2'), url('fonts/SourceCodePro-Bold.woff') format('woff'), url('fonts/SourceCodePro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	textRendering: optimizeLegibility;
}